<!DOCTYPE html>
<html>
<head>
	<title>G-Max</title>
	<!-- <link rel="icon" href="<?php echo base_url('assets/icon_Gmax.ico'); ?>" type="image/x-icon"> -->
	<link rel="shortcut icon" href="/assets/icon_Gmax.ico" type="image/x-icon">
	<link rel="stylesheet" href="/assets/loginPage.css">
	<!-- <link rel="stylesheet" href="<? php echo base_url('assets/loginPage.css') ?>"> -->
</head>
<body>

	<header id='mainHeader'>
		<nav id= 'mainNav'>
			<div>
				<img id= 'logoHeader' src="/assets/icon_Gmax.ico" alt="Logo">
				<!-- <img id= 'logoHeader' src="<?php echo base_url('assets/icon_Gmax.jpg')?>" alt="Logo"> -->
				<p>Cadastrar</p>
			</div>
			<a href="https://help.steampowered.com/pt/" target="_blank">Precisa de ajuda?</a>
		</nav>
	</header>
	<main id="wrapper">
		<section id="sideLogin">
			<form action="" id="cadForm">
				<h2>Cadastrar</h2>
				<!--Nome Completo
				data de nascimento
				país
				nickname
				email
				senha
				confirmar senha
				-->
				<div class="inputContainer">
					<input type="text" name="nomeCompleto" id="nomeCompleto" class="inputsCad" placeholder=" ">
					<label for="nomeCompleto">
						Nome Completo
					</label>
				</div>
				<div class="inputContainer">
					<input type="text" name="username" id="nomeCompleto" class="inputsCad" placeholder=" ">
					<label for="username">
						Username
					</label>
				</div>
				<div class="inputContainer">
					<input type="text" name="email" id="nomeCompleto" class="inputsCad" placeholder=" ">
					<label for="email">
						Email
					</label>
				</div>
			</form>
		</section>
		<section id="sideSpaceBackground">
			<img src="/assets/jinx.png" alt="img jinx">
		</section>
	</main>
</body>
</html>
