* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
}

#mainHeader {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 2rem;
}

#mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

#logoHeader {
  width: 70px;
}

#mainNav > div {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainNav > div > p {
  color: blueviolet;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainNav > a {
  color: blueviolet;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

#mainNav > a::after {
  color: blueviolet;
  text-decoration: none;
}

#mainNav > a:hover {
  color: white;
  transition: all 200ms;
}

.mainCarrinho {
    width: 100%;
    height: 80dvh;
    padding-inline: 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}
.listaProdutos {
    width: 60%;
}

.linhaProduto {
    height: 13rem;
    padding-block: 1.25dvh;
    border-radius: 10px;
    border: 2px solid blueviolet;
    margin-bottom: 1dvh;
    width: 100%;
    display:flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapProduto {
    padding-inline: 1dvw;
    padding-block: 1dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.qntProduto {
    padding-inline: 1dvw;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.aumentarQnt, .diminuirQnt {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid blueviolet;
    font-size: 16px;
}
.imgLinhaProduto {
    width: 14rem;
    height: 8rem;
}
.imgLinhaProduto > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.infosProduto {
    padding-inline: 1dvw;
    height: 12dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
.tituloProduto {
    font-size: 1.25rem;
}
.descProduto {
    margin-block: 1dvh;
    font-size: 0.75rem;
}
.precoProduto {
    font-size: 1.5rem;
    font-weight: bold;
}

.cardPrecos {
    width: 30%;
    padding-inline: 1dvw;
    padding-block: 1dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cabecalhoResumo {
    border-bottom: 2px solid blueviolet;
    font-size: 1.5rem;
    margin-block: 1dvw;
    padding-block: 1dvh;
}
.imagensProdutos {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5dvh;
    margin-top: 1.25rem;
}
.imgResumo {
    border:2px solid blueviolet;
    width: 23%;
    height: 90%;
    margin-right: 1dvw;
}
.imgResumo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listaPrecos {
    height: 60%;
}
.linhaPreco {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.valorTotal {
    margin-block: 1dvh;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.continuarCompra {
    width: 100%;
    height: 5dvh;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid blueviolet;
}