* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#mainHeader {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

#logoHeader {
  width: 70px;
}

#mainNav > div {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainNav > div > p {
  color: blueviolet;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainNav > a {
  color: blueviolet;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

#mainNav > a::after {
  color: blueviolet;
  text-decoration: none;
}

#mainNav > a:hover {
  color: white;
  transition: all 200ms;
}

#wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  flex-wrap: wrap;
}

#sideLogin,
#sideSpaceBackground {
  width: 50%;
  min-width: 500px;
  height: auto;
}

#sideLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper > #sideLogin > div {
  width: 80%;
  max-width: 500px;
  margin: auto;
  height: auto;
  padding: 2rem;
  background-color: blue;
  color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cadForm > h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputContainer {
  width: 25rem;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: start;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inputContainer label {
  position: absolute;
  top: 16px;
  left: 20px;
  background-color: black;
  color: grey;
  transition: 200ms all ease-in-out;
  pointer-events: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputsCad {
  width: 25rem;
  height: 40px;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 8px;
  font-size: 1rem;
  outline: none;
  background-color: black;
  color: white;
}

.inputsCad:focus + label,
.inputsCad:not(:placeholder-shown) + label {
  top: 2px;
  left: 15px;
  font-size: 12px;
  color: blueviolet;
  background-color: black;
  padding: 0 5px;
}
#dataNasc {
  color: grey;
  transition: 200ms all;
}
#dataNasc:focus {
  color: white;
}
#submit{
    cursor: pointer;
    border: 2px solid blueviolet;
    color: blueviolet;
}
.input-error input{
  border-color: red !important;
}
.input-error label{
  color: red;
}
.inputContainer div{
  color: red;
  font-size: 0.9rem;
  min-height: 20px;
}
#sideSpaceBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

#sideSpaceBackground > img {
    height: 30rem;
  filter: drop-shadow(-5px 5px 5px blueviolet);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 40%);
  mask-image: linear-gradient(to top, transparent 0%, black 40%);
}
