 @import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
 * {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    body{
      background-color: #07031c;
      height: 3000px;
    }
    .all {
        height: 10%;
        background-image: url('fundo2.jpg');
        background-size: cover;
        background-position: center;
        margin: 0;
        font-family: sans-serif;
        color: white;
    }

  .slider{
    margin: 0 auto;
    width:  100%;
    height: 400px;
    overflow: hidden;
  }
  .slides{
    width: 400%;
    height: 400px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 30%;
    position: relative;
    transition: 5s;
  
  }
  .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid #fff;
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
  }
  .manual-btn:not(:last-child){
    margin-right: 30px;
  }
  .manual-btn:hover{
    background: purple; 
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -30%;
  }
  #radio3:checked ~ .first{
    margin-left: -60%;
  }
  #radio4:checked ~ .first{
    margin-left: -90%;
  }
  .navigator-auto div{
    border: 2px solid #f82323;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  .navigator-auto{
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 360px;
    display: flex;
    justify-content: center;
  }

/*PRIMEIRO CARROSSEL*/

h2{
  color: white;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.carrosel-container {
      width: 90%;
      max-width: 900px;
      margin: 50px auto;
      position: relative;
    }

    .carrosel-container h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .carrosel-imagens {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 16px;
      padding: 10px;
    }

    .carrosel-imagens::-webkit-scrollbar {
      display: none;
    }

    .carrosel-imagens img {
      flex: 0 0 auto;
      width: 250px;
      height: 160px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
    }

    .carrosel-imagens img:hover {
      transform: scale(1.05);
    }

    .botoes-navegacao {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      gap: 10px;
      padding: 10px;
    }

    .botao-seta {
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;
    }

    .botao-seta:hover {
      background-color: #aaa;
    }
    
    .texto-img{
      color: white;
       font-family: "Smooch Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

/*SEGUNDO CARROSSEL*/
h2{
  color: white;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.carrosel-container2 {
      width: 90%;
      max-width: 900px;
      margin: 50px auto;
      position: relative;
    }

    .carrosel-container2 h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .carrosel-imagens2 {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 16px;
      padding: 10px;
    }

    .carrosel-imagens2::-webkit-scrollbar {
      display: none;
    }

    .carrosel-imagens2 img {
      flex: 0 0 auto;
      width: 250px;
      height: 160px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
    }

    .carrosel-imagens2 img:hover {
      transform: scale(1.05);
    }

    .botoes-navegacao2 {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      gap: 10px;
      padding: 10px;
    }

    .botao-seta2 {
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;
    }

    .botao-seta2:hover {
      background-color: #aaa;
    }
    
    .texto-img2{
      color: white;
       font-family: "Smooch Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

/*TERCEIRO CARROSSEL*/
h2{
  color: white;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.carrosel-container3 {
      width: 90%;
      max-width: 900px;
      margin: 50px auto;
      position: relative;
    }

    .carrosel-container3 h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .carrosel-imagens3 {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 16px;
      padding: 10px;
    }

    .carrosel-imagens3::-webkit-scrollbar {
      display: none;
    }

    .carrosel-imagens3 img {
      flex: 0 0 auto;
      width: 250px;
      height: 160px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
    }

    .carrosel-imagens3 img:hover {
      transform: scale(1.05);
    }

    .botoes-navegacao3 {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      gap: 10px;
      padding: 10px;
    }

    .botao-seta3 {
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;
    }

    .botao-seta3:hover {
      background-color: #aaa;
    }
    
    .texto-img3{
      color: white;
       font-family: "Smooch Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
/*QUARTO CARROSSEL*/
h2{
  color: white;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.carrosel-container4 {
      width: 90%;
      max-width: 900px;
      margin: 50px auto;
      position: relative;
    }

    .carrosel-container4 h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .carrosel-imagens4 {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 16px;
      padding: 10px;
    }

    .carrosel-imagens4::-webkit-scrollbar {
      display: none;
    }

    .carrosel-imagens4 img {
      flex: 0 0 auto;
      width: 250px;
      height: 160px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
    }

    .carrosel-imagens4 img:hover {
      transform: scale(1.05);
    }

    .botoes-navegacao4 {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      gap: 10px;
      padding: 10px;
    }

    .botao-seta4 {
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;
    }

    .botao-seta4:hover {
      background-color: #aaa;
    }
    
    .texto-img4{
      color: white;
       font-family: "Smooch Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

/*SOBRE NOS*/
    .sobrenos {
      padding-top: 40px;
       font-family: monospace;
        font-size: 30px;
        color: white;
        
    }
    
    #mainHeader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #mainNav {
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #mainNav>#logoman {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: blueviolet;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 30px;
    }
    
    #mainNav>#nomes {
        display: flex;
    }
    
    #logoHeader {
        width: 70px;
    }
    
    #divLista {
        display: flex;
        margin-right: 2rem;
    }
    
    .listaNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        list-style: none;
    }
    
    .listaNav>li {
        color: white;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        height: 3rem;
    }
    
    .textoSobre {
        font-family: "Alumni Sans SC", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        
    }
  
    .listaNav li:last-of-type {
        margin-right: 0px;
    }
    
    .input-container {
        position: relative;
        width: 100%;
    }
    
    .input-container>input {
        height: 1.2rem;
        width: 17rem;
        padding: 1.1rem;
        border-radius: 20px;
        position: relative;
        background-color: black;
        outline: none;
        color: white;
    }
    
    #searchPlaceholder {
        color: white;
        position: absolute;
        left: 15px;
        top: 5px;
        height: 1.2rem;
        width: 15rem;
        user-select: none;
        pointer-events: none;
        font-size: 16px;
        color: grey;
        transition: 0.5s;
    }
    
    #searchInput:focus {
        border: 2px solid blueviolet
    }
    
    #searchInput:focus+#searchPlaceholder {
        display: none;
    }
    
    .listaNav>li>.input-container>img {
        width: 30px;
        height: 30px;
        position: absolute;
        transform: translateY(-50%);
        right: -20px;
        top: 50%;
        border-radius: 20px;
        background-color: black;
    }
    
    .wrapper {
        margin-left: 50px;
        margin-top: 10%;    }
    
    .wrapper>h1 {
        color: white;
    }
    
    .textoSobre {
        color: white;
    }
    
    .divTexto>h1 {
        color: white;
        font-weight: bold;
    }
    
    #searchPlaceholder {
        display: flex;
        justify-content: end;
    }
    
    #pesquisarLupa {
        filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.7));
    }
    
    #carrinho {
        filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.7));
    }
    
.menu-jogos{
margin-left: 5%;
  margin-top:3%;
  
}
.menu-jogos ul{
  display:flex;
  flex-direction:row;
  align-items:center;
  list-style:none;
  margin:0;
  padding:0;
}

/* ======= CARTÕES ======= */
.menu-jogos li{
  position:relative;
}
.menu-jogos li+li{
  margin-left:-120px; /* quanto mais negativo, mais “entra” */
}


.menu-jogos img{
  width:350px;
  height:200px;
  object-fit:cover;
  border-radius:12px;
  box-shadow:0 0 15px rgba(0,0,0,.6);
  display:block;
}

/* ======= IMAGENS ======= */
.menu-jogos .img1,
.menu-jogos .img5{
  transform:scale(.8);
  z-index:1;
}

.menu-jogos .img2,
.menu-jogos .img4{
  transform:scale(.9);
  z-index:2;
}


.menu-jogos .img3{
  transform:scale(1);
  z-index:3;
}


.menu-jogos li{
  transition:transform .4s ease, z-index .2s;
  transform-origin:center center;
}
.menu-jogos li:hover{
  transform:scale(1.1) translateY(-8px);
  z-index:10;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.pyramid-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.pyramid-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(131, 54, 167, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9px);

}

.wrapper1 {
    
    will-change:transform;
    backface-visibility:hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}
/*FIM DO SOBRE NOS*/

/*CONTAINER-ICONS*/
.carrosel-container5 {
      width: 90%;
      max-width: 900px;
      position: relative;
      margin-top: 10%;
      margin-left: 22%;
   }

    .carrosel-container5 h2 {
      margin-bottom: 20px;
      font-size: 30px;
    }

    .carrosel-imagens5 {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 16px;
      padding: 10px;
     
    }
    .carrosel-imagens5 > div {
       background-color: #1c1c1c;
       height: 250px;
       width: 240px;
       border-radius: 15px;
    }


    .carrosel-imagens5::-webkit-scrollbar {
      display: none;
    }

    .carrosel-imagens5 img {
      flex: 0 0 auto;
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
    }

    .carrosel-imagens5 img:hover {
      transform: scale(1.05);
    }

    .botoes-navegacao5 {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      gap: 10px;
      padding: 10px;
    }

    .botao-seta5 {
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s;
    }

    .botao-seta5:hover {
      background-color: #aaa;
    }
    
    .texto-img5{
      color: white;
      font-size: 25px;
    }

/*    VIDEO/LIVE    */
video {
  margin-top: 40PX;
  margin-left: 15%;
      width: 70vw;      /* ocupa 90% da largura da tela */
      max-width: 1200px; /* limite máximo para não ficar gigante */
      height: auto;     /* mantém a proporção */
      border-radius: 12px;
      box-shadow: 0 0 25px #8c52ff;
      outline: none;
      display: block;
    }