  * {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    
    body {
        height: 100%;
        background-image: url('fundo2.jpg');
        background-size: cover;
        background-position: center;
        margin: 0;
        font-family: sans-serif;
        color: white;
        }
    
    .sobrenos {
       font-family: monospace;
       border-right: 4px solid;
       animation: animaMarcador 1s linear infinite;
       white-space: nowrap;
       width: 9ch;
       overflow: hidden;/*elemento vazado não vai aparecer*/
       animation: animaTexto 2s steps(9) 1s forwards, animaMarcador 1s linear infinite;
        font-size: 30px;
        color: white;
        
    }
    @keyframes animaMarcador{
        50%{
            border-right: transparent;
        }
    }

    @keyframes animaTexto{
        0%{
            width: 0;
        }
    }
    
    #mainHeader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #mainNav {
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #mainNav>#logoman {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: blueviolet;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 30px;
    }
    
    #mainNav>#nomes {
        display: flex;
    }
    
    #logoHeader {
        width: 70px;
    }
    
    #divLista {
        display: flex;
        margin-right: 2rem;
    }
    
    .listaNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        list-style: none;
    }
    
    .listaNav>li {
        color: white;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        height: 3rem;
    }
    
    .textoSobre {
        font-family: "Alumni Sans SC", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        
    }
  
    .listaNav li:last-of-type {
        margin-right: 0px;
    }
    
    .input-container {
        position: relative;
        width: 100%;
    }
    
    .input-container>input {
        height: 1.2rem;
        width: 17rem;
        padding: 1.1rem;
        border-radius: 20px;
        position: relative;
        background-color: black;
        outline: none;
        color: white;
    }
    
    #searchPlaceholder {
        color: white;
        position: absolute;
        left: 15px;
        top: 5px;
        height: 1.2rem;
        width: 15rem;
        user-select: none;
        pointer-events: none;
        font-size: 16px;
        color: grey;
        transition: 0.5s;
    }
    
    #searchInput:focus {
        border: 2px solid blueviolet
    }
    
    #searchInput:focus+#searchPlaceholder {
        display: none;
    }
    
    .listaNav>li>.input-container>img {
        width: 30px;
        height: 30px;
        position: absolute;
        transform: translateY(-50%);
        right: -20px;
        top: 50%;
        border-radius: 20px;
        background-color: black;
    }
    
    .wrapper {
        margin-left: 50px;
        margin-top: 10%;    }
    
    .wrapper>h1 {
        color: white;
    }
    
    .textoSobre {
        color: white;
    }
    
    .divTexto>h1 {
        color: white;
        font-weight: bold;
    }
    
    #searchPlaceholder {
        display: flex;
        justify-content: end;
    }
    
    #pesquisarLupa {
        filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.7));
    }
    
    #carrinho {
        filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.7));
    }
    
.menu-jogos{
margin-left: 5%;
  margin-top:3%;
  
}
.menu-jogos ul{
  display:flex;
  flex-direction:row;
  align-items:center;
  list-style:none;
  margin:0;
  padding:0;
}

/* ======= CARTÕES ======= */
.menu-jogos li{
  position:relative;
}
.menu-jogos li+li{
  margin-left:-120px; /* quanto mais negativo, mais “entra” */
}


.menu-jogos img{
  width:350px;
  height:200px;
  object-fit:cover;
  border-radius:12px;
  box-shadow:0 0 15px rgba(0,0,0,.6);
  display:block;
}

/* ======= IMAGENS ======= */
.menu-jogos .img1,
.menu-jogos .img5{
  transform:scale(.8);
  z-index:1;
}

.menu-jogos .img2,
.menu-jogos .img4{
  transform:scale(.9);
  z-index:2;
}


.menu-jogos .img3{
  transform:scale(1);
  z-index:3;
}


.menu-jogos li{
  transition:transform .4s ease, z-index .2s;
  transform-origin:center center;
}
.menu-jogos li:hover{
  transform:scale(1.1) translateY(-8px);
  z-index:10;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.pyramid-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.pyramid-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(131, 54, 167, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9px);


}

.wrapper1 {
    
    will-change:transform;
    backface-visibility:hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0%   {transform:rotateY(0deg);}
  100% {transform:rotateY(360deg);}
}

.pyramid-loader .wrapper1 .side {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  
}

.pyramid-loader .wrapper1 .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper1 .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper1 .side3 {
  transform: rotateX(30deg);
  background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper1 .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper1 .shadow {
  width: 60px;
  height: 60px;
  background: #8B5AD5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}