*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-color: black;
}
#mainHeader{
    background-color: black;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
}
#logoHeader{
    width: 70px;
}
#mainNav > div{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainNav > div > p{
    color: blueviolet;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mainNav > a{
    color: blueviolet;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#mainNav > a::after{
    color: blueviolet;
    text-decoration: none;
}
#mainNav > a:hover{
    color: white;
    transition: all 200ms;
}
#wrapper {
    display: flex;
}
#sideLogin{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapper > #sideLogin > div{
    width: 60%;
    height: 75%;
    padding: 20px;
    background-color: blue;
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sideLogin > div > h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.inputContainer{
    position: relative;
}
.inputContainer > label{
    display: flex;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    position: absolute;
    border: 2px solid #000;
    transform: translateY(-50%);
    top: 50%;
    left: 10px;
}
.inputContainer > input{
    width: 100%;
    height: 15px;
    cursor: text;
    outline: none;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    display: none
}
.inputContainer > input :focus{
    border: blueviolet;
}
.inputContainer > input:focus + .inputContainer > label,
.inputContainer > input:not(:placeholder-shown) + .inputContainer > label {
    top: 0;
    font-size: 12px;
    color: #007bff;
}
#sideLogin > div > label > input :focus{
    transform: translateY(-50%);
}
#sideSpaceBackground{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 676px;
    background-image: url('/game-store/assets/fundo\ estelar\ 2.jpg');
    background-size: cover;
}

#sideSpaceBackground > img {
    height: 500px;
}